* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

/* .blogHeader{
  display: flex;
  justify-content: center;
}
.blogHeader h2{
 font-size: 2.5rem;
} */
/* heading start */
.blogDetails-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogDetailsHeader {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.blogDetailsHeader .blogTitle {
  text-align: center;
}

.blogDetailsHeader .blogTitle {
  text-align: center;
}

.blogDetailsHeader .blogTitle h2 {
  display: inline-block;
  font-size: 2.5rem;
}

.blogDetailsHeader .blogLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: fit-content; */
  gap: 0.5rem;
}

.blogDetailsHeader .blogLinks p {
  font-size: 1.3rem;
  color: #0000ff;
  font-weight: 500;
}

.blogDetailsHeader .blogLinks .blogLink {
  color: #737b9a;
}

.blogDetailsHeader.blogLinks .angleIcon {
  font-size: 1.5rem;
  margin-top: 0.1rem;
  color: #737b9a;
}

.blogDetailsHeader .blogTitle span {
  /* border-bottom: 2px solid #f78da7; */
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

/* heading end */
/* blogDetails */
.blogDetails {
  /* display: flex; */
  /* gap: 3rem; */
  /* padding: 2rem 0; */
  width: 100%;
}

.right-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  padding: 3rem 0;
}

.blogDetails .left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  gap: 1rem;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogDetails .left .cards-container {
  /* background-color: red; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blogDetails .left {
  width: 100%;
}

.blogDetails .left .card {
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* align-self: flex-start; */
  border: 1px solid #ddd;
  overflow: hidden;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.blogDetails .left .card .cardImgContainer {
  height: 500px;
  /* width: 200px; */
}

.blogDetails .left .card .cardImgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* .blogDetails .left .card:hover .cardImgContainer img {
  transform: scale(1.2) rotate(5deg);
} */
.blogDetails .left .card .bottom-content h2 {
  font-size: 1.5rem;
}

.blogDetails .left .card .bottom-content h2,
.blogDetails .left .card .bottom-content p {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin-bottom: 0.625rem;
}

.blogDetails .left .card .bottom-content p {
  color: #737b9a;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
  line-height: 2rem;
}

/* .blogDetails .left .card:hover {
  box-shadow: 0 3px 20px 0(rgb(210, 210, 219));
} */
/* .blogDetails .left .card:hover .bottom-content h2 {
  color: rgb(27, 27, 141);
} */
/* .blogDetails .left .card:hover .bottom-content::after {
  opacity: 1;
  display: block;
  transform: translateY(-1rem);
} */
/* .blogDetails .left .card:hover .bottom-content h2,
.blogDetails .left .card:hover .bottom-content p {
  transform: translateY(-1rem);
  transition: all 0.8s;
} */
.blogDetails .left .card .bottom-content {
  padding: 1.5rem 1rem;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #010211;
}

.blogDetails .left .card .bottom-content::after {
  position: relative;
  content: "Reade more";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 1s, opacity 0.7s;
  transition: all 1s, opacity 0.7s;
  color: #0000ff;
  font-weight: 500;
  font-size: 0.8rem;
}

/* right start */
.blogDetails .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  gap: 2rem;
}

.blogDetails .right .search {
  padding: 1rem;
  width: 100%;
  /* height: 100px; */
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.blogDetails .right .search .input-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogDetails .right .search .input-button-container input {
  width: 100%;
  padding: 9px;
  outline: none;
}

.blogDetails .right .search .input-button-container .search-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
  width: 4rem;
}

.blogDetails
.right
.search
.input-button-container
.search-icon-container
.search-icon {
  color: white;
  font-size: 1.5625rem;
  cursor: pointer;
}

.blogDetails .right .recent-posts-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.blogDetails .right .recent-posts-container h2 {
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.2rem;
  /* background-color: yellow; */
}

.blogDetails .right .recent-posts-container .post-details {
  position: relative;
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  /* height: 8rem; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
  /* cursor: pointer; */
}

.blogDetails .right .recent-posts-container .post-details .details-img {
  position: relative;
  width: 50px;
  height: 5rem;
}

.blogDetails .right .recent-posts-container .post-details .details-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogDetails .right .recent-posts-container .post-details .description .date {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.blogDetails .right .recent-posts-container .post-details .description .title {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
}

.blogDetails .right .category-container {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.blogDetails .right .category-container .category-list-container {
  padding: 1rem;
}

.blogDetails .right .category-container p {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.blogDetails .right .category-container p::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: blue;
  top: 0.4rem;
  left: -2.5rem;
}

.blogDetails .right .category-container .title {
  font-size: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}

.blogDetails .right .tags-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: white;
  padding: 1.5rem 1.5rem 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.blogDetails .right .tags-container .title {
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}

.blogDetails .right .tags-container .tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.blogDetails .right .tags-container .tags p {
  display: block;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 0.7rem;
}

.blogDetails .right .tags-container .tags p:hover {
  background-color: #0000ff;
  color: white;
}

/* right end */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px !important;
  }
  .right-left-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogDetails .left {
    width: 100%;
  }
  .blogDetails .left .cards-container {
    width: 100%;
  }
  .blogDetails .left a {
    width: calc(100% / 2.05);
  }
  /* .blogDetails .left a .card {
    width: calc(100% / 2.05);
  } */
  .blogDetails .right {
    width: 100%;
  }
  .blogDetails .right .tags-container .tags p {
    display: block;
    padding: 1rem 1.5rem;
    border: 1px solid #eeeeee;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .blogDetails .left .card .bottom-content {
    width: 100%;
    padding: 1.5rem 1.3rem;
  }
  .blogDetails .left .card .bottom-content h2 {
    font-size: 14px;
  }
  .blogDetails .left .card .bottom-content p,
  .blogDetails .left .card .bottom-content::after {
    font-size: 12px;
  }
  .blogDetails .right .recent-posts-container .post-details .description {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 0.8rem;
  }
  .blogDetails .right .tags-container .tags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogDetails .right .search {
    padding: 3rem;
    width: 100%;
  }
  .blogDetails .right .recent-posts-container {
    padding: 3rem;
  }
  .blogDetails .right .search .input-button-container input::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .blogDetails .right .search .input-button-container input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .blogDetails .right .search .input-button-container input::-ms-input-placeholder {
    font-size: 2rem;
  }
  .blogDetails .right .search .input-button-container input::placeholder {
    font-size: 2rem;
  }
  .blogDetails .right .recent-posts-container .post-details .description .date {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .blogDetails .right .recent-posts-container .post-details .description .title {
    font-size: 1.5rem;
  }
  .blogDetails .right .recent-posts-container .post-details {
    padding: 3rem 0;
  }
  .blogDetails .right .recent-posts-container h2 {
    font-size: 2rem;
  }
  .blogDetails .right .recent-posts-container .post-details .details-img {
    width: 15rem;
    height: 10rem;
  }
  .blogDetails .right .category-container {
    padding: 3rem;
  }
  .blogDetails .right .category-container .title {
    padding-bottom: 3rem;
    font-size: 2rem;
  }
  .blogDetails .right .category-container p {
    font-size: 1.6rem;
    margin-left: 50px;
  }
  .blogDetails .right .category-container p::before {
    width: 1rem;
    height: 1rem;
    top: 0.5rem;
    left: -50px;
  }
  .blogDetails .right .tags-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3rem 2rem 3rem 3rem;
  }
  .blogDetails .right .tags-container .title {
    padding-bottom: 3rem;
    font-size: 2rem;
  }
  .blogDetails .right .tags-container .tags .link-container a {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px !important;
  }
  .blogDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogDetails .right {
    width: 100%;
  }
  .blogDetails .left .cards-container a {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogDetails .left .cards-container .card {
    width: 100%;
  }
  .blogDetails .left .card a .cardImgContainer {
    height: 300px;
  }
  .blogDetails .right .recent-posts-container .post-details .description .title {
    width: 100%;
  }
  .blogDetails .left .card .bottom-content {
    width: 100%;
    padding: 2rem 1rem;
  }
  .blogDetails .right .category-container p {
    font-size: 1.5rem;
  }
  .blogDetails .right .category-container p::before {
    top: 0.4rem;
  }
}
/*# sourceMappingURL=BlogDetails.css.map */